{% extends "accounts/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Seller Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Seller Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'seller_signup' %}">
    {% csrf_token %}
    {{ form }}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    <input type="submit" value="Submit" />
</form>

{% endblock %}