{% extends "accounts/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "User Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "User Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="user_signup" id="signup_form" method="post" action="{% url 'user_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    <button type="submit">{% trans "User Sign Up" %} &raquo;</button>
</form>

{% endblock %}