<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Interwove</title>
</head>

<body>
    <h1>Welcome to Interwove</h1>
    <p>Shop the hottest boutiques across the country, whereever, whenever.</p><br>
    <p>Explore, follow, and share #trends to find one-of-a-kind items.</p><br>
    <p>Vintage. Trendy. Lux. Look different.</p><br>
    <a href="{% url 'signup'%}">Get Started</a><br>

    <h1>What is Interwove</h1>
    <p>Interwove is a marketplace that connects you with fashion-forward boutiques across the country to find cool
        stuff.</p><br>
    <p>Skip the creepy Instagram jogger ads and mainstream style.</p><br>
    <p> Online shooping should be fun. Interwove makes it an adventure.</p><br>

    <h1> Why We're Different</h1>
</body>

</html>